@media screen and (max-width: 991px) {
    .sidebar-collapse {
        @include navbar-collapse();

        &.menu-on-left {
            .navbar-collapse {
                right: auto;
                left: 0;
                @include transform-translate-x(-300px);
            }
        }

        .nav-open & {
            .navbar-collapse {
                @include transform-translate-x(0px);
            }

            .wrapper {
                @include transform-translate-x(-150px);
            }

            .navbar-translate {
                @include transform-translate-x(-300px);
            }

            &.menu-on-left {
                .navbar-collapse {
                    @include transform-translate-x(0px);
                }

                .navbar-translate {
                    @include transform-translate-x(300px);
                }

                .wrapper {
                    @include transform-translate-x(150px);
                }

                #bodyClick {
                    right: auto;
                    left: 300px;
                }
            }
        }
    }

    .navbar-nav .nav-link,
    .navbar-nav .nav-link {
        opacity: .5;
    }

    .bootstrap-collapse {
        .navbar .navbar-collapse {
            background: none !important;
        }

        @include navbar-responsive();
    }

    .button-dropdown {
        display: none;
    }

    .navbar-nav {
        .nav-link {

            i.fa,
            i.now-ui-icons {
                opacity: .5;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar-collapse:not(.has-image) {
        background: transparent !important;
    }

    .burger-menu {
        @include navbar-collapse();

        .nav-open & .navbar-collapse {
            @include transform-translate-x(0px);
        }

        .navbar-collapse {
            display: block !important;

            .navbar-nav {
                margin-top: 53px;
                height: 100%;
                z-index: 2;
                position: relative;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;

                .nav-item {
                    margin: 0;
                }
            }
        }

        &.menu-on-left .navbar-collapse {
            right: auto;
            left: 0;
            @include transform-translate-x(-300px);
        }

        .section-navbars .navbar-collapse {
            display: none !important;
        }

        .nav-open & {
            &.menu-on-left .navbar .navbar-translate {
                @include transform-translate-x(300px);
            }

            .navbar .navbar-translate {
                @include transform-translate-x(-300px);
            }

            &.menu-on-left .navbar-collapse {
                @include transform-translate-x(0px);
            }

            &.menu-on-left #bodyClick {
                right: auto;
                left: 300px;
            }
        }

        &.menu-on-left {
            float: right;
            margin-right: 0;
            margin-left: 1rem;
        }
    }

    .navbar-nav {
        .nav-link {
            &.profile-photo {
                padding: 0;
                margin: 7px $padding-base-horizontal;
            }

            &.btn:not(.btn-sm) {
                margin: 0;
            }
        }

        .nav-item:not(:last-child) {
            margin-right: 5px;
        }

    }

    .footer {
        .copyright {
            float: right;
        }
    }
}

@media screen and (min-width: 768px) {
    .image-container {
        &.image-right {
            top: 80px;
            margin-left: - 100px;
            margin-bottom: 130px;
        }

        &.image-left {
            margin-right: -100px;
        }
    }
}

@media screen and (max-width: 768px) {
    .image-container {
        &.image-left {
            margin-bottom: 220px;
        }
    }

    .landing-page .image-container:nth-child(2) {
        margin-left: 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 576px) {
    .navbar[class*='navbar-expand-'] .container {
        margin-left: 0;
        margin-right: 0;
    }

    .footer {
        .copyright {
            text-align: center;
        }
    }

    .page-header {
        .container h6 {
            width: 90%;
        }
    }
}